[Unit]
Description=Weave Net
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=-/etc/weave-net/config
ExecStartPre=/usr/local/bin/weave launch \
  --ipalloc-range {{ weave_net_cidr }} \
  --no-default-ipalloc \
  --no-restart \
  --no-dns \
  ${WEAVE_PEERS}
ExecStart=/usr/bin/docker attach weave
ExecStop=/usr/local/bin/weave stop

[Install]
WantedBy=multi-user.target
