[Unit]
Description=Weave Network
Documentation=https://www.weave.works/docs/net/latest/install/systemd/
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=-/etc/weave/config
ExecStartPre=/usr/local/bin/weave launch --ipalloc-range 10.9.0.0/16 --ipalloc-default-subnet 10.9.0.0/24 --no-restart --no-dns ${WEAVE_PEERS}
ExecStart=/usr/bin/docker attach weave
ExecStop=/usr/local/bin/weave stop

[Install]
WantedBy=multi-user.target
